<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Binder.APIMatic.Client" version="0.1.5854.22577" targetFramework="net45" />
  <package id="Binder.Client.StorageEngine" version="0.1.5875.20435" targetFramework="net45" />
  <package id="Flurl" version="1.0.10" targetFramework="net45" />
  <package id="Flurl.Http" version="0.7.0" targetFramework="net45" />
  <package id="Microsoft.ApplicationInsights" version="2.1.0-beta4" targetFramework="net45" />
  <package id="Microsoft.ApplicationInsights.Agent.Intercept" version="1.2.1" targetFramework="net45" />
  <package id="Microsoft.ApplicationInsights.DependencyCollector" version="2.1.0-beta4" targetFramework="net45" />
  <package id="Microsoft.ApplicationInsights.PerfCounterCollector" version="2.1.0-beta4" targetFramework="net45" />
  <package id="Microsoft.ApplicationInsights.WindowsServer" version="2.1.0-beta4" targetFramework="net45" />
  <package id="Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel" version="2.1.0-beta4" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="net45" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.1.10" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net45" />
  <package id="Unirest-APIMATIC" version="1.0.0.2" targetFramework="net45" />
</packages>